# Virtual Environment
.venv/
venv/
env/
ENV/

# Python cache & compiled files
__pycache__/
*.py[cod]
*.class
.cache/
.matplotlib/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Temporary files
*.log
.streamlit/credentials.toml
bin/
